html, body {
    margin: 1px;
    padding: 1px;
}
.app {
    border: 1px  grey;
    width: 100%;
    height: 100%;
    display: inline-grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: minmax(500px, calc(100vh - 100px));
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    width: 55px;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
}

.profile img {
    width: inherit;
}

.main-left {
    background: #031426;
    display: grid;
    grid-template-rows: 1fr 6fr 1fr;
    grid-auto-flow: row;
}

.header-left {
    padding: 10px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 6fr;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
}

.header-left .glyphicon {
    color: whitesmoke;
    font-size: 1.5em;
    cursor: pointer;
    margin: 0px 5px;
}

.hamburger-btn, .search-btn {
    place-self: center start;
}

.option-btn {
    place-self: center end;
}

.chat-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 100px;
    overflow-y: auto;
}

.chat-list::-webkit-scrollbar {
    width: 10px;
}

.friends {
    padding: 5px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 4fr 1fr;
    cursor: pointer;
    transition: 0.2s linear;
}

.friends:hover {
    background: white;
}

.friends-photo {
    place-self: center;
}

.friends-credent {
    padding: 5px;
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 1fr 1fr;
    place-items: center start;
    overflow: hidden;
}

.friends-name, .friends-message {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    font-weight: 600;
}

.friends-name {
    color: orange;
    place-self: end start;
    font-size: 1.05em;
}

.friends-message {
    color: #777;
    font-size: 0.85em;
    place-self: start;
}
.notif-badge {
    place-self: center;
    background: white;
    color: #555;
}

.self-info {
    padding: 5px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 4fr 1fr;
    place-items: center;
    background: black;
    box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.4);
}

.your-photo {
    height: 50px;
    width: 50px;
    place-content: center start;
    place-self: center end;
}

.your-name {
    color: white;
    margin-left: 20px;
    place-self: center start;
}

.self-info .glyphicon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.2em;
    color: white;
    place-content: center end;
    place-self: center;
    cursor: pointer;
    transition: 0.2s linear;
}

.self-info .glyphicon:hover {
    transform: rotate(30deg);
}
.main-right {
    background: black;
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 1fr 6fr 1fr;
}

.header-right {
    padding: 5px;
    background: darkgray;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 6fr 2fr;
    place-items: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
}

.header-img {
    place-content: center start;
    place-self: center end;
}

.name {
    font-size: 1.2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.friend-name {
    place-self: center start;
    margin-left: 20px;
    color: black;
}

.some-btn {
    font-size: 1.5em;
    place-items: center end;
}

.some-btn .glyphicon {
    margin: 0px 10px;
    cursor: pointer;
}
.chat-area {

    overflow-y: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
.chat-area::-webkit-scrollbar {
    width: 0;
}

.friends-chat {
    padding-top: 5px;
    padding-bottom: 5px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 9fr;
}

.friends-chat-photo {
    place-self: start end;
    margin: 0px 5px;
}

.friends-chat-content {
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 1fr min-content min-content;
    place-items: start;
}

.friends-chat-name {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rebeccapurple;
    font-size: 1em;
    margin: 0px 0px 3px 0px;
    font-weight: bold;
}
.friends-chat-balloon{
    max-width: 90%;
    padding: 10px 20px;
    margin: 0;
    min-width: min-content;
    border-radius: 0px 20px 20px 20px; /* TL-TR-BR-BL*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    background: white;
    font-size: 0.9em;
}

.chat-datetime {
    margin: 3px 10px;
    font-size: 0.75em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.your-chat {
    display: grid;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    grid-auto-flow: row;
    grid-template-rows: min-content min-content;
    place-items: start end;
}

.your-chat-balloon {
    max-width: 80%;
    padding: 10px 20px;
    margin: 0;
    min-width: min-content;
    border-radius: 20px 20px 0px 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    background: red;
    font-size: 0.9em;
}
.your-chat-datetime .glyphicon {
    margin-right: 5px;
    color: blue;
}
.typing-area {
    background: lightgrey;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 8fr 2fr 1fr;
    overflow-x: hidden;
    box-shadow: 0px -2px 5px rgba(1, 0, 0, 0);
}

.type-area {
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    outline: none;
    background: none;
    padding: 10px 20px;
    color: #333;
    font-size: 1.1em;
}

input::placeholder {
    color: black;
}
.typing-area .glyphicon, .attach-btn {
    color: black;
    cursor: pointer;
    place-self: center;
    transition: .2s linear;
}
.typing-area .glyphicon:hover, .attach-btn span:hover {
    color: greenyellow;
}
.attach-btn {
    font-size: 1.25em;
}
.attach-btn span {
    margin: 0px 10px;
}
.send-btn {
    font-size: 2.25em;
}
.creator {
    text-align: center;
    color: black;
    font-size: 3em;
    font-family: 'Courier New', Courier, monospace;
}